<!DOCTYPE html>
<html xmlns:th="https:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>student id</td>
        <td>first name</td>
        <td>last name</td>
        <td>email</td>
        <td>dob</td>
    </tr>
    <tr th:each="student: ${student_list}">
        <td th:text="${student.id}" />
        <td th:text="${student.firstName}" />
        <td th:text="${student.lastName}" />
        <td th:text="${student.email}" />
        <td th:text="${student.dob}" />
    </tr>
</table>
</body>
</html>