<!DOCTYPE html>
<html xmlns:th="https:/www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script type="text/javascript" src="validate.js"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<form action="#" th:action="@{/course_student_add}" method="post">

    <table cellpadding="2" width="20%" bgcolor="99FFFF" align="center"
           cellspacing="2">

        <tr>
            <td colspan=2>
                <center><font size=4><b>add student to course</b></font></center>
            </td>
        </tr>

        <tr>
            <td>student</td>
            <td><select name="studentId">
                <th:block th:each="student: ${students}">
                <option th:value="${student.id}" th:text="${student.firstName}+' '+${student.lastName}"></option>
                </th:block>
            </select></td>

        </tr>

        <tr>
            <td>course</td>
            <td><select name="courseId">
                <th:block th:each="course: ${courses}">
                    <option th:value="${course.id}" th:text="${course.courseName}"></option>
                </th:block>
            </select></td>
        </tr>

        <tr>
            <td><input type="reset"></td>
            <td colspan="2"><input type="submit" value="Submit Form"></td>
        </tr>
    </table>
</form>
</body>
</html>