<!DOCTYPE html>
<html xmlns:th="https:/www.thymeleaf.org">
<head>
    <script type="text/javascript" src="validate.js"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<form action="#" th:action="@{'/teacher_edit/'+${teacherId}}" method="post">

    <table cellpadding="2" width="20%" bgcolor="99FFFF" align="center"
           cellspacing="2">

        <tr>
            <td colspan=2>
                <center><font size=4><b>Teacher Update id: <span th:text="${teacherId}"/></b></font></center>
            </td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type=text name="firstName" id="firstName" size="30"></td>

        </tr>

        <tr>
            <td>Last Name</td>
            <td><input type=text name="lastName" id="lastName" size="30"></td>
        </tr>

        <tr>
            <td>address</td>
            <td><input type=text name="address" id="address" size="30"></td>
        </tr>

        <tr>
            <td>city</td>
            <td><input type=text name="city" id="city" size="30"></td>
        </tr>

        <tr>
            <td>country</td>
            <td><input type=text name="country" id="country" size="30"></td>
        </tr>

        <tr>
            <td>phone number</td>
            <td><input type="text" name="phoneNumber" id="phoneNumber" size="30"></td>
        </tr>

        <tr>
            <td>salary</td>
            <td><input type="text" name="salary" id="salary" size="30"></td>
        </tr>

        <tr>
            <td><input type="reset"></td>
            <td colspan="2"><input type="submit" value="Submit Form"></td>
        </tr>
    </table>
</form>
</body>
</html>